<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t('.modal.title') %>
        <% if current_user.group.organization %>
          <sub> (<%= current_user.group.organization.name %>)</sub>
        <% end %>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('.modal.close') %>">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= search_form_for @q, url: search_products_products_path, remote: true do |f| %>
        <%= f.input :name_or_product_number_cont, label: false do %>
          <div class="input-group" data-controller="product-search">
            <%= f.input_field :name_or_product_number_cont, class: 'form-control', placeholder: t('.placeholder'), value: @name_or_product_number_cont, data: { target: 'product-search.input', action: 'input->product-search#change' } %>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" disabled="disabled" data-target="product-search.button" data-toggle="tooltip" data-trigger="hover" title="<%= t('.find_product') %>">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        <% end %>
      <% end %>

      <table id="products-table" class="table table-responsive-sm table-striped table-hover table-sm table-maxwell-data row-clickable">
        <thead> 
          <tr>
            <th>#</th>
            <th><%= sort_link(@q, :product_number, {}, remote: true) %></th>
            <th><%= sort_link(@q, :name, {}, remote: true) %></th>
            <th>Tipo</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each_with_index do |c, index| %>
            <tr data-controller="product-search" data-product-search-id="<%= c.id %>" data-product-search-label="<%= product_label(c) %>" data-action="click->product-search#select">
              <td><%= index + 1 %></td>
              <td><%= c.product_number %></td>
              <td><%= c.name %></td>
              <td><%= c.product_type.nil? ? '' : c.product_type.name %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <td class="page-entries-info" colspan="4"><%= page_entries_info @products %></td>
          </tr>

          <% if @products.total_pages > 1 %>
            <tr>
              <td colspan="4">
                <%= paginate @products, remote: true, window: 2 %>
              </td>
            </tr>
          <% end %>
        </tfoot>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" data-dismiss="modal"><%= t('.modal.close') %></button>
    </div>
  </div>
</div>
