<div id="alert-message">
  <% if flash[:alert] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
 
<table class="table table-responsive-sm table-striped table-hover table-sm table-maxwell-data" style="border-collapse:collapse;">
  <thead>
      <tr>
        <th></th>
        <th>N° de Producto</th>
        <th>Modelo</th>
        <th>Fabricante</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Descripción</th>
        <th>Stock Actual</th>
        <th class="text-center">Stock Mínimo / Reposición</th>
      </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inv, indexes| %>
      <tr data-toggle="collapse" data-target="#inventory<%=inv.id%>, #head<%=inv.id%>" class="accordion-toggle">
        <th><i class="fa fa-arrows-v fa-lg"></i></th>
        <td><%= inv.product_number %></td>
        <td><%= "#{inv.name} - #{inv.family.name}" %></td>
        <td><%= inv.producer.name %></td>
        <td><%= inv.product_type.name %></td>
        <td><%= inv.category.name %></td>
        <td><%= inv.description[0..50].gsub(/\s\w+\s*$/,'...') %></td>
        <% if (inv.is_reorder_point?(indexes.length, inv.reorder_point_default)) %>
          <td class="text-danger text-center"><%= indexes.length %></td>
        <% else %>
          <td class="text-center"><%= indexes.length %></td>
        <% end %>
        <td class="text-center"><%= "#{[inv.stock_min_default, inv.reorder_point_default].compact.join(" / ")}" %></td>
      </tr>
      <thead class="accordian-body collapse" id="head<%=inv.id%>" style="text-align: right !important; background-color: white;">
        <tr>
          <th><span class="cui-arrow-right" aria-hidden="true"></span></i></th>
          <th>Selección</th>
          <th colspan="2">Número Serial</th>
          <th colspan="2">Proveedor</th>
          <th colspan="2">Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <% for index in indexes %>
        <tr class="accordian-body collapse" id="inventory<%= inv.id %>" style="text-align: right !important; background-color: white;">
          <td></td>
          <td>
            <div data-controller="deposit-move">
              <% if(index.status == :disponible) %>
                <input type="checkbox" value="<%= index.id %>" class="catchProducts">
              <% else %>
                <input type="checkbox" value="<%= index.id %>" class="catchProducts" disabled>
              <% end %>
            </div>
          </td>
          <td colspan="2">
            <b class="text-info"><%= index.serial_number.blank? ? 'vacio' : index.serial_number %></b>
          </td>
          <td colspan="2">
            <b class="text-info"><%= index.provider.name.blank? ? 'vacio' : index.provider.name %></b>
          </td>
          <td colspan="2">
            <% if(index.status == :en_movimiento) %>
              <b class="text-warning"><%= index.status.split("_").map(&:capitalize).join(" ") %></b>
            <% elsif(index.status == :eliminado || index.status == :vendido) %>
              <b class="text-danger"><%= index.status.split("_").map(&:capitalize).join(" ") %></b>
            <% elsif(index.status == :en_transito) %>
              <b class="text-info"><%= index.status.split("_").map(&:capitalize).join(" ") %></b>
            <% elsif(index.status == :disponible) %>
              <b class="text-success"><%= index.status.split("_").map(&:capitalize).join(" ") %></b>
            <% end %>
          </td>
          <td class="action-buttons">
            <% if can? :update, index %>
              <%= link_to edit_inventory_path(index), class: 'btn btn-sm btn-outline-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            <% end %>
            <%= link_to inventory_path(index), class: 'btn btn-sm btn-outline-primary', data: { toggle: 'tooltip', title: t('.tooltip.show') } do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
        </tr>
      <% end %> 
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="page-entries-info" colspan="9"></td>
    </tr>
  </tfoot>
</table>
<%= search_form_for @q, url: download_deposit_product_inventories_path, id: 'export_form' do |f| %>
  <%= f.hidden_field :product_name_cont %>
  <%= f.hidden_field :product_product_number_cont %>
<% end %>  
