<%# -- filtrado --- %> 
<div class="card">
  <div class="card-body">
    <%= search_form_for @q, url: moves_path, remote: true do |f| %>
      <div class="row">

        <div class="col-sm-6">
          <%= f.input :move_date_lteq, label: t('.search_form.move_date') do %>
            <div class="input-group input-daterange">
              <%= f.input_field :move_date_gteq, as: :string, class: 'form-control align-right mask-date', value: short_date(@q.move_date_gteq), autocomplete: 'off' %>
              <div class="input-group-append input-group-addon">
                <span class="input-group-text">
                  <i class="fa fa-arrows-h"></i>
                </span>
              </div>
              <%= f.input_field :move_date_lteq, as: :string, class: 'form-control align-right mask-date', value: short_date(@q.move_date_lteq), autocomplete: 'off' %>
            </div>
          <% end %> 
        </div>

        <div class="col-sm-3">
           <%= f.input :voucher_type_id_eq, as: :select, collection: sorted_voucher_type, label: t('.search_form.voucher_type'), include_blank: t('search_form.any') %>
        </div>

        <div class="col-sm-3">
           <%= f.input :user_register_id_eq, as: :select, collection: sorted_users, label: t('.search_form.user_register'), include_blank: t('search_form.any') %>
        </div>


      </div>

      <div class="row">
        <div class="col-sm-3">
           <%= f.input :user_take_id_eq, as: :select, collection: sorted_users, label: t('.search_form.user_take'), include_blank: t('search_form.any') %>
        </div>
        <div class="col-sm-3">
            <%= f.input :move_details_site_to_id_eq, as: :select, collection: sorted_deposit, label: t('.search_form.site_to_id'), include_blank: t('search_form.any') %>
        </div>
        <div class="col-sm-6">
           <%= f.input :voucher_number_cont, label: t('.search_form.voucher_name') %>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-12 ">
                <%= link_to '<button class="btn btn-warning float-right margLefRig"><i class="fa fa-refresh"></i></button>'.html_safe, request.path, remote: true,  title: t('.search_form.reset'), class:'reset-filter' %>
                <button class="btn btn-primary float-right margLefRig" type="submit" data-toggle="tooltip" data-trigger="hover" title="<%= t('.search_form.tooltip.submit') %>">
                  <i class="fa fa-search"></i>
                </button>&nbsp;&nbsp; 
          
          </div>
      </div>

    <% end %>
  </div>


</div>
<%# -- filtrado --- %>

<div class="card">
  <div class="card-header data-header">
    <div class="title">
      <%= t('.header') %>
      <% if current_user.group.organization %>
        <sub> (<%= current_user.group.organization.name %>)</sub>
      <% end %>
    </div>
    <div>
      <% if can? :download, Move %>
        <button type="submit" form="export_form" class="btn btn-sm btn-success" data-toggle="tooltip" data-trigger="hover" data-title="<%= t('.tooltip.export') %>">
         <i class="fa fa-table"></i>
        </button>
      <% end %>

      <a class="btn btn-sm btn-outline-primary float-right margLefRig" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
      data-placement="top" title="Información">
        <i class="fa fa-question"></i>
      </a>

    </div>
  </div>

  <div class="card-body">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <p>
                  <span class="badge badge-secondary">En carga</span>
                  Movimiento entre depósitos se encuentra en carga de detalles.
                </p>
                <p>
                  <span class="badge badge-light">En espera</span>
                  Movimiento entre depósitos en espera a ser enviado.
                </p>
                <p>
                  <span class="badge badge-danger">Eliminado</span>
                   Movimiento entre depósitos eliminado (se conserva detalle para su consulta). 
                </p>
                <p>
                  <span class="badge badge-info">En transito</span>
                  Movimiento entre depósitos en tránsito, a depósito destino.
                </p>
                <p>
                  <span class="badge badge-success">Recibido</span>
                 Movimiento entre depósitos recibido correctamente.
                </p>
                <p>
                  <span class="badge badge-warning">Retrasado</span>
                  Movimiento entre depósitos retrasado.   
                </p>
              </div>
            </div>
    <div id="moves-table-container">
      <%= render 'moves_table' %>
    </div>
  </div>
</div>  